<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
 </head>
<body>
<h1>User Login From</h1>
<p th:text="${msg}"/>
	<div>
		<form th:action="@{/login}" th:object="${user}" method="post">
			<table>
				<tr>
					<td>User Email:</td>
					<td><input type="text" th:field="*{userEmail}" /></td>
					<td th:if="${#fields.hasErrors('userEmail')}"
						th:errors="*{userEmail}"></td>
				</tr>
				<tr>
					<td>User Password:</td>
					<td><input type="text" th:field="*{userPassword}" /></td>
					<td th:if="${#fields.hasErrors('userPassword')}"
						th:errors="*{userPassword}"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Login" /></td>
				</tr>
			</table>
		</form>
	</div>
	<div>
		<table>
			<tr>
				<td style="padding-right: 18px">
					<a href="regis">Sing Up</a>
				</td>
				<td>
					<a href="updatePasswordForm">Forgot PWD?</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>